/*Font family import from Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html,body {
  background: #FFF3E6;
}

.schedule-bg {
  display: flex;
  flex-direction: column;
  position: relative;
  background: url("../img/bg/counter.jpg") no-repeat;
  background-size: 100% 100%;
  height: 920px;
  align-items: center;
  justify-content: center;
}
.schedule-bg::before {
    content: '';
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.3);
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  padding-top: 10px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
  transition: background-color 0.6s;
  z-index: 1000;
}
nav.sticky-nav {
  background-color: #0D335D;
}

nav:after {
  content: '';
  clear: both;
  display: table;
}

nav .logo {
  float: left;
}

nav ul {
  float: right;
  list-style: none;
  margin-right: 40px;
  position: relative;
}

nav ul li {
  float: left;
  display: inline-block;
  margin: 0 5px;
}

nav ul li a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 70px;
  font-size: 18px;
  padding: 8px 15px;
  transition: color 0.3s;
}
nav ul li:hover {
  border-bottom: solid 2px white;
}

nav ul ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 90px;
  opacity: 0;
  visibility: hidden;
  transition: top 0.3s;
}
nav ul li:hover > ul {
  top: 70px;
  opacity: 1;
  visibility: visible;
}
nav ul ul li {
  position: relative;
  margin: 0px;
  width: 170px;
  float: none;
  display: list-item;
  text-align: left;
  background: rgba(145, 167, 171, 0.5);
}

nav.sticky-nav ul ul li {
  background: #0D335D;
}
nav ul ul li a{
  line-height: 40px;
}

.show, input {
  display: none;
}
.icon {
  display: none;
}

.schedule-title{
  position: relative;
  cursor: default;
}
.schedule-title h1 {
  font-size: 3rem;
  color: white;
  text-align: center;
  margin: 0 5rem;
}

.footer-container {
  max-width: 1170px;
  margin: auto;
}
.footer-row {
  display: flex;
  flex-wrap: wrap;
}
.footer {
  border-top: solid 30px #FFF3E6;
  background-color: #06182d;
  padding-top: 100px;
}
.footer-col {
  width: 50%;
  padding: 0 15px;
  margin-bottom: 150px;
  padding-left: 50px;
}
.footer-col h4 {
  font-size: 18px;
  color: white;
  position: relative;
  margin-bottom: 35px;
}
.footer-col h4::before {
  content: '';
  position: absolute;
  left: 0px;
  bottom: -10px;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
  background-color: red;
}
.footer-col p {
  color: white;
  font-size: 15px;
}
.footer-col .social a{
  border: solid 1px white;
  padding-top: 2px;
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.1);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: white;
  transition: all 0.5s ease;
}
.footer-col .social a:hover {
  color: #0D335D;
  background-color: white;
}
.copyright-footer {
  background-color: black;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.copyright-footer p {
  color: white;
}

@media (max-width:775px){
  nav {
    background: #0D335D;
    padding-bottom: 10px;
    flex-direction: column;
  }

  nav ul li, nav ul ul li {
    display: block;
    width: 100%;
  }
  nav ul ul {
    top: 70px;
    position: static;
    border-top: none;
    float: none;
    display: none;
    opacity: 1;
    visibility: visible;
  }
  nav ul ul li {
    padding-left: 60px;
    line-height: 70px;
    background: transparent;
  }
  nav ul ul li:hover {
    border: none;
  }
  .show {
    display: block;
    color: white;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
    transition: color 0.3s;
  }
  .icon {
    display: block;
    color: white;
    position: absolute;
    right: 40px;
    line-height: 70px;
    font-size: 25px;
    cursor: pointer;
  }
  nav ul li:hover {
    border-bottom: none;
  }

  .schedule-title h1 {
    margin: 0 3rem;
  }
  .show + a, ul {
    display: none;
  }
  [id=about]:checked + ul,[id=bars]:checked + ul {
    display: block;
  }
}

@media (max-width:574px) {
  .footer-col {
    width: 100%;
  }

  .schedule-title h1 {
    font-size: 2rem;
  }

}
